Package: showtime-dbg
Source: showtime
Version: 5.0.567
Architecture: amd64
Maintainer: Andreas Öman <andreas@lonelycoder.com>
Installed-Size: 60355
Depends: showtime (= 5.0.567)
Section: debug
Priority: extra
Description: Debug symbols for Showtime
