Package: showtime-dbg
Source: showtime
Version: 5.0.565
Architecture: amd64
Maintainer: Andreas Öman <andreas@lonelycoder.com>
Installed-Size: 20795
Depends: showtime (= 5.0.565)
Section: debug
Priority: extra
Description: Debug symbols for Showtime
Build-Ids: b5da4e50102f56ecf3e550dc1cb1fc65097371a9
