Package: showtime
Version: 5.0.567
Architecture: amd64
Maintainer: Andreas Öman <andreas@lonelycoder.com>
Installed-Size: 14076
Depends: libavahi-client3 (>= 0.6.16), libavahi-common3 (>= 0.6.16), libc6 (>= 2.15), libfontconfig1 (>= 2.8.0), libfreetype6 (>= 2.2.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1-mesa-glx | libgl1, libglib2.0-0 (>= 2.14.0), libgtk2.0-0 (>= 2.24.0), libpulse0, libsqlite3-0 (>= 3.6.12), libvdpau1 (>= 0.2), libx11-6, libxext6, libxss1, libxv1, libxxf86vm1, zlib1g (>= 1:1.2.0.2)
Section: main
Priority: extra
Description: OpenGL based Mediaplayer
 An OpenGL based media player focused for use as a home-entertainment-system.
